<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LoginWithFacebookSDKCustom.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2BD0E5891A8AC1240095C31F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2BD0E59E1A8AC1240095C31F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>455A113A1B291DFE00BF0266</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45D73BB81B16ADA400D3FE08</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45D73BC21B16ADA400D3FE08</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
